body {
    background: #4831D4;
    font-family: "Plus Jakarta Sans", san-serif;
    color: #fff;
    font-size:19px;
}

header {
    padding: 2em 0;
}

nav {
  text-align: right;
}
nav a {
    padding: 0 0.5em;

}

a {
    color: #000;
}
a:hover{
  color:#000;
  text-decoration: none;
}
.center {
    text-align: center;
    margin: 4em 0;
}

img {
    width: 100%;
}

footer {
    padding: 2em 0;
    text-align: center;
}

footer p {
    text-align: center;
}

.bg-blue {
    background-color: #4831D4;
}