body {
    background: ;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

header {
    text-align:;
    background: ;
    padding: 2em 0;
}
.logo {
  font-weight: 900;
}
nav {
  text-align: right;
}
nav a {
    padding: 0 0.5em;

}

a {
    color: #000;
}
a:hover{
  color:#000;
  text-decoration: none;
}
.center {
    text-align: center;
    margin: 4em 0;
}

img {
    width: 100%;
}

.main-heading {
    font-size: 5em;
    font-weight: 900;
}

.sub-heading {
    font-weight: ;
    font-size: 1.5em;
    text-transform: uppercase;
}

.services {
    padding-top: 4em;
    letter-spacing: 0.5em;
}

footer {
    padding: 2em 0;
    text-align: center;
}

footer p {
    text-align: center;
}

.fab {
    color: #000;
}

p {
    font-size: 20px;
    font-weight: 300;
}

.portfolio-title {
  padding-top: 0.5em;
}
.portfolio-category {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: lighter;
}
